<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">



<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<display-name>EmployeeLoginServlet</display-name>
		<servlet-class>com.revature.servlets.EmployeeLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>managerServlet</servlet-name>
		<display-name>managerServlet</display-name>
		<servlet-class>com.revature.servlets.managerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>managerLogin</servlet-name>
		<display-name>managerLogin</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.managerLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeHome</servlet-name>
		<display-name>EmployeeHome</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.EmployeeHome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewInfo</servlet-name>
		<display-name>ViewInfo</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.ViewInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewPending</servlet-name>
		<display-name>ViewPending</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.ViewPending</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewResolved</servlet-name>
		<display-name>ViewResolved</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.ViewResolved</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewRequest</servlet-name>
		<display-name>NewRequest</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.NewRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitNewRequest</servlet-name>
		<display-name>SubmitNewRequest</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.SubmitNewRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyRequests</servlet-name>
		<display-name>MyRequests</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.MyRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyResolved</servlet-name>
		<display-name>MyResolved</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.MyResolved</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeReturnHome</servlet-name>
		<display-name>EmployeeReturnHome</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.EmployeeReturnHome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyEmployeesPending</servlet-name>
		<display-name>MyEmployeesPending</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.MyEmployeesPending</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyEmployeesPendingRequests</servlet-name>
		<display-name>MyEmployeesPendingRequests</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.MyEmployeesPendingRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllEmployees</servlet-name>
		<display-name>AllEmployees</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.AllEmployees</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllEmployees</servlet-name>
		<display-name>GetAllEmployees</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.GetAllEmployees</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneEmployeeRequests</servlet-name>
		<display-name>OneEmployeeRequests</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.OneEmployeeRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneEmployeeResults</servlet-name>
		<display-name>OneEmployeeResults</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.OneEmployeeResults</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneEmployeePending</servlet-name>
		<display-name>OneEmployeePending</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.OneEmployeePending</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneEmployeeResolved</servlet-name>
		<display-name>OneEmployeeResolved</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.OneEmployeeResolved</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllEmployeesResolved</servlet-name>
		<display-name>AllEmployeesResolved</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.AllEmployeesResolved</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllEmployeesResolvedRequests</servlet-name>
		<display-name>AllEmployeesResolvedRequests</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.AllEmployeesResolvedRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApproveRequest</servlet-name>
		<display-name>ApproveRequest</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.ApproveRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateInfo</servlet-name>
		<display-name>UpdateInfo</display-name>
		<description></description>
		<servlet-class>com.revature.servlets.UpdateInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<url-pattern>/employeeLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>managerLogin</servlet-name>
		<url-pattern>/managerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeHome</servlet-name>
		<url-pattern>/EmployeeHome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewInfo</servlet-name>
		<url-pattern>/ViewInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewPending</servlet-name>
		<url-pattern>/ViewPending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewResolved</servlet-name>
		<url-pattern>/ViewResolved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewRequest</servlet-name>
		<url-pattern>/NewRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitNewRequest</servlet-name>
		<url-pattern>/SubmitNewRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyRequests</servlet-name>
		<url-pattern>/MyRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyResolved</servlet-name>
		<url-pattern>/MyResolved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeReturnHome</servlet-name>
		<url-pattern>/EmployeeReturnHome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyEmployeesPending</servlet-name>
		<url-pattern>/MyEmployeesPending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyEmployeesPendingRequests</servlet-name>
		<url-pattern>/MyEmployeesPendingRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllEmployees</servlet-name>
		<url-pattern>/AllEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllEmployees</servlet-name>
		<url-pattern>/GetAllEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneEmployeeRequests</servlet-name>
		<url-pattern>/OneEmployeeRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneEmployeeResults</servlet-name>
		<url-pattern>/OneEmployeeResults</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneEmployeePending</servlet-name>
		<url-pattern>/OneEmployeePending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneEmployeeResolved</servlet-name>
		<url-pattern>/OneEmployeeResolved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllEmployeesResolved</servlet-name>
		<url-pattern>/AllEmployeesResolved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllEmployeesResolvedRequests</servlet-name>
		<url-pattern>/AllEmployeesResolvedRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveRequest</servlet-name>
		<url-pattern>/ApproveRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateInfo</servlet-name>
		<url-pattern>/UpdateInfo</url-pattern>
	</servlet-mapping>
</web-app>
